aiohttp==3.8.3
aiohttp-cors==0.7.0
aiorwlock==1.3.0
aiosignal==1.2.0
anyio==3.6.2
asgiref==3.5.2
async-timeout==4.0.2
attrs==22.1.0
backoff==1.10.0
beautifulsoup4==4.11.1
blessed==1.19.1
brotlipy==0.7.0
cachetools==5.2.0
cfgv==3.3.1
charset-normalizer==2.1.1
click==8.0.4
cloudpickle==2.2.0
colorful==0.5.4
contourpy==1.0.6
cycler==0.11.0
distlib==0.3.6
dm-tree==0.1.7
fastapi==0.85.2
filelock==3.8.0
fonttools==4.38.0
frozenlist==1.3.1
fsspec==2022.10.0
gdown==4.5.3
google-api-core==2.10.2
google-auth==2.14.0
googleapis-common-protos==1.56.4
gpustat==1.0.0
grpcio==1.43.0
gym==0.23.1
gym-notices==0.0.8
h11==0.14.0
identify==2.5.8
imageio==2.22.3
iso8601==1.1.0
jsonschema==4.16.0
kiwisolver==1.4.4
kopf==1.35.6
kubernetes==25.3.0
lz4==4.0.2
matplotlib==3.6.1
msgpack==1.0.4
multidict==6.0.2
networkx==2.8.7
nodeenv==1.7.0
numpy==1.23.4
nvidia-ml-py==11.495.46
oauthlib==3.2.2
opencensus==0.11.0
opencensus-context==0.1.3
opencv-python==4.6.0.66
opentelemetry-api==1.1.0
opentelemetry-exporter-otlp==1.1.0
opentelemetry-exporter-otlp-proto-grpc==1.1.0
opentelemetry-proto==1.1.0
opentelemetry-sdk==1.1.0
opentelemetry-semantic-conventions==0.20b0
packaging==21.3
pandas==1.5.1
Pillow==9.3.0
platformdirs==2.5.2
pre-commit==2.20.0
prometheus-client==0.13.1
protobuf==3.19.6
psutil==5.9.3
py-spy==0.3.14
pyarrow==6.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydantic==1.10.2
pyparsing==3.0.9
pyrsistent==0.19.1
python-dateutil==2.8.2
python-json-logger==2.0.4
pytz==2022.6
PyWavelets==1.4.1
PyYAML==6.0
ray==2.0.1
ray-cpp==2.0.1
requests-oauthlib==1.3.1
rsa==4.9
scikit-image==0.19.3
scipy==1.9.3
six==1.16.0
smart-open==6.2.0
sniffio==1.3.0
soupsieve==2.3.2.post1
starlette==0.20.4
tabulate==0.9.0
tensorboardX==2.5.1
tifffile==2022.10.10
toml==0.10.2
torch==1.13.0
torchaudio==0.13.0
torchvision==0.14.0
tqdm==4.64.1
typing_extensions==4.4.0
uvicorn==0.16.0
virtualenv==20.16.6
wcwidth==0.2.5
websocket-client==1.4.1
yarl==1.8.1
